ion-input {
}
.btn {
  margin: 30px;
}

.pls {
  float: left;
}
.mns {
  float: right;
}
/* 
	Generic Styling, for Desktops/Laptops 
	*/

th,
td {
  //padding: 10px;
  margin: 10px;
}



table {
  border: 1px solid black;
}

table,
th,
td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
ion-button{
  margin: 50px;
  
}
