ion-navbar{
    color: white;
    //color: rgb(221, 252, 239);
    ///#7B7B7B
  }
  
  ion-input{
    font-size: 15px;
    border-bottom: 1px solid  rgb(207, 45, 180);
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    color:darkslategray;
     
  }
  ion-label{
    color: darkslategray;
  }
  #fct{
   
    width: 100px;
  }
  ion-button{ margin: 30px;}
  
  h3{
    color: rgb(207, 45, 180);
  }
  .welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  #cal{
    width: 100%;
  }
  #gh{
    //width: 100px;
  }
  .btn{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 35%;
    height: 25px;
    font-size: 40px;
    text-align: center;
    font-style: bold;

  }
  ion-label{
    
    margin-left: 20px;
    margin-top: 20px;
    
  
    font-style: bold;
    font-size: 20px;
    
  }
  #calsimplex{
    width: 100%;
  }
  ion-button{
    color: white
  }
 

  